.items {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img_ {
    width: auto;
    max-width: 100%;
    height: 10rem;
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  button {
    all: unset;
    color: white;
    border-radius: var(--border-radius);
    padding: .25rem;
    cursor: pointer;

    i {
      font-size: 1.25rem;
    }
  }

  .search_ {
    padding: .5rem;

    input {
      all: unset;
    }
  }

  .card {
    width: 20rem;
  }

  .list {
    width: max-content;
    max-width: 100%;
  }

  .view {
    background: #B88B63;
  }

  .edit {
    background: #FEDDC7;
    color: #AE510F;
  }

  .del {
    background: var(--red-200);
    color: var(--red-500);
  }
}