<section class="w-full items">
  <section class="py-3 w-full gap-1 flex justify-content-end">
    <button *ngIf="isAdm" class="btn_ add" (click)="genItem()">
      <i class="bi px-1 pointer bi-plus"></i>
    </button>
    <section class="search_ border-1 surface-border border-round">
      <input type="text" placeholder="Digite para pesquisar" [(ngModel)]="searchValue" (keyup)="onSearchChange()" />
      <i class="bi px-1 pointer bi-search"></i>
    </section>
  </section>
  <section class="list border-round flex flex-column justify-content-between p-2 border-1 surface-border">
    <section class="flex-wrap p-2 flex gap-3">
      @if (skeleton) {
      <section *ngFor="let a of [].constructor(5)"
        class="border-1 card border-round p-2 flex gap-2 shadow-1 flex-column surface-border">
        <section class="h-auto px-2">
          <p-skeleton styleClass="h-10rem" />
        </section>
        <div class="w-full">
          <p-skeleton width="90%" styleClass="mb-2" />
          <p-skeleton styleClass="mb-2" />
          <p-skeleton styleClass="mb-2" />
          <p-skeleton width="60%" styleClass="mb-2" />
          <p-skeleton width="90%" styleClass="mb-2" />
          <section class="w-full flex justify-content-end">
            <p-skeleton width="5rem" height="2rem" />
          </section>
        </div>
      </section>
      }@else {
      <ng-container *ngIf="filteredItems.length > 0; else noItems">
        <section *ngFor="let item of filteredItems; let i = index"
          class="border-1 card border-round p-2 flex gap-2 shadow-1 flex-column surface-border">
          <section class="h-auto px-2">
            <div class="img_ shadow-2" [ngStyle]="{'background-image': 'url(' + item?.photo + ')'}"></div>
          </section>
          <section class="flex flex-column h-full justify-content-between">
            <p class="font-semibold"><strong>Nome:</strong> {{item.title}}</p>
            <p>
              <strong>Descrição:</strong>
              {{ item.description.length > 150 ? item.description.slice(0, 150) + '...' : item?.description }}
            </p>
            <section class="flex justify-content-end gap-1">
              <button *ngIf="isAdm" class="btn_ del">
                <i class="bi px-1 pointer bi-trash2"></i>
              </button>
              <button *ngIf="isAdm" class="btn_ edit" (click)="genItem(item)">
                <i class="bi px-1 pointer bi-pencil-fill"></i>
              </button>
              <button class="btn_ view" (click)="open(item)">
                <i class="bi px-1 pointer bi-eye"></i>
              </button>
            </section>
          </section>
        </section>
      </ng-container>
      <ng-template #noItems>
        <section class="w-full h-10rem text-center">
          <p class="text-center text-gray-500">Nenhum item encontrado</p>
        </section>
      </ng-template>
      }
    </section>
    <section class="w-full">
      <p-paginator [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </section>
  </section>
</section>