<section class="w-full home_ text-left h-full flex flex-column justify-content-between">
  <section class="flex h-full justify-content-center align-items-center">
    <section class="w-full flex flex-column gap-1 py-3 lg:w-4">
      <p class="text-xl lg:text-2xl xl:text-5xl font-bold cor1">Seja bem-vindo ao Tech Hub</p>
      <p class="text-base lg:text-base xl:text-3xl font-bold">Conecte ao mundo da ciência da computação</p>
      <p class="sm:text-base lg:text-base">
        O <b>Tech Hub</b> é a plataforma definitiva para a comunidade acadêmica de Ciência da Computação.
        Projetada para ser um hub centralizado, <b>Tech Hub</b> conecta estudantes, pesquisadores, professores e
        profissionais em um ambiente colaborativo e integrado.</p>
    </section>
  </section>
  <section class="w-full h-auto">
    <app-items [isAdm]="false" />
  </section>
</section>