<section class="w-full text-left h-full flex flex-column justify-content-center align-items-center">
  <section class="w-4 py-8">
    <p class="text-5xl font-bold cor1">Seja bem-vindo ao Tech Hub</p>
    <p class="text-3xl font-bold">Conecte ao mundo da ciência da computação</p>
    <p>O <b>Tech Hub</b> é a plataforma definitiva para a comunidade acadêmica de Ciência da Computação.
      Projetada para
      ser um hub
      centralizado, CompuNexus conecta estudantes, pesquisadores, professores e profissionais em um ambiente
      colaborativo
      e integrado.</p>
  </section>
  <section>
    <p>Em desenvolvimento</p>
    <p>Comic sans</p>
    <img class="h-10rem w-10rem" src="../../assets/pato.gif">
  </section>
</section>